<section class="row">
  <h1 class="font-heavy text-3xl">Admin DashBoard</h1>
</section>
<!-- “We’ll need to render our live component with the live_component/1 function and the :id we specified in Admin.DashboardLive.mount/3 earlier. -->
<.live_component module={PentoWeb.Admin.SurveyResultsLive} id={@survey_results_component_id} />
